# node
node_modules
build
# end node

# Baileys auth info
auth_info/

# Environment variables
.env
.env.test

# Old wa-automate files (removidos)
**.data.json
**_IGNORE_**

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# enviroment variables
# **.env**
# end enviroment variables